@font-face{
        font-family: 'Quark-Light';
        src: url('fonts/quark/Quark-Light.otf');
      }
@font-face{
        font-family: 'FuturaLT-Light';
        src: url('fonts/FuturaLT/FuturaLT-Light.ttf');
      }
@font-face{
        font-family: 'FuturaLT-Book';
        src: url('fonts/FuturaLT/FuturaLT-Book.ttf');
}
.headerStyle{
	font-family:'FuturaLT-Book';
	color:black;
	font-size:50px;
	margin-top:0px;
}
.lineStyle{
	margin-top:-80px;
	width:510%;
	height:1px;
}
.lineStyle2{

	margin-top:-80px;
	width:100%;
	height:1px;
}
.videoCon{
	width:420px;
	height:300px;
	background-color:black;
	padding-left: 0px;
	padding-right: 0px;
}
.pictureCon1{
	margin-top:30px;
	width:200px;
	height:150px;
	background-color:black;
	border-radius:4px;
	padding-left: 0px;
}
.pictureCon{
	margin-left:20px;
	margin-top:30px;
	width:200px;
	height:150px;
	background-color:black;
	border-radius:4px;
	padding-left: 0px;
	padding-right: 0px;
}
.wrapper{  
    float:left; /* important */  
    position:relative; /* important(so we can absolutely position the description div */  
  }  

.description{  
    position:absolute; /* absolute position (so we can position it where we want)*/  
    bottom:0px; /* position will be on bottom */  
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: tahoma;  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */ 

    }  
.description_content{
    font-family: helvetica;
    color:white; 
    font-size:15px;    
    padding:10px;  
    margin:0px;  
    } 
