@font-face{
        font-family: 'Quark-Light';
        src: url('fonts/quark/Quark-Light.otf');
      }
@font-face{
        font-family: 'FuturaLT-Light';
        src: url('fonts/FuturaLT/FuturaLT-Light.ttf');
      }
@font-face{
        font-family: 'FuturaLT-Book';
        src: url('fonts/FuturaLT/FuturaLT-Book.ttf');
}
.headAbout{
	font-family:'FuturaLT-Book';

}
.profilepic{
	width: 160px;
	height: 160px;
	background: white;
	
	overflow:hidden;	

}
.lefttabcontainer{
	width:160px;
	height:550px;
	margin-top:5px;
	background-color:#282828;
	border:2px solid #282828;
}
.imgcontainer{
	width:160px;
	height:160px;
	margin-top:5px;
	margin-left:-12px;
	margin-right:5px;

}
.imgcontainer img{
    width: 94%;
    height: 150px;
    /*height use to be auto and width use to be 100%*/

 }
.infowindow{
	width:1120px;
	height:500px;
	/*margin-left: 25px;*/
	margin-top: 50px;
	background-color: white;
	overflow:hidden;
	border:2px solid #282828;
	border-radius:8px;
}
.infocontainer{
	width:1130px;
	height:490px;
	/*margin-left:5px;*/
	margin-top:5px;
	overflow-y:hidden;
	font-family:'Quark-Light';
}
.textContainer{
	width:420px;
	height:490px;
}
.fontlefttab{
	font-family:'Quark-Light';
	font-size:15px;
	color:white;
}
.basicInfoCon{
	width: 150px;
	height: 370px;
	margin-top:20px;
}
/*.smallTextCon{
	width:140px;
	height:20px;
 	white-space:normal;
 	overflow-y:hidden;
 	margin-left:-38px;
 	margin-bottom:10px; 
}*/
.sepLine{
	position:absolute;
    top: 61%;
    left: 50%;
    margin-left: 180px;
    margin-top: -280px;
}
.photoCon{
	width:360px;
	height:480px;
	margin-top:0px;
	margin-left:0px;
}
.sizeImg{
	width:150px; height:150px; margin-left:20px; margin-top:10px
}
.picAbout{
	width:150px; 
	height:150px; 
	margin-left:20px; 
	margin-top:11px
}
/*.border{
	border-radius:100px;
	border:3px solid #333333;

}*/
